@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Halos of light used on the index header */
  .halos-dark {
    background:
      radial-gradient(150px 150px at 0% 200px, #7644B6 0%, rgba(255, 255, 255, 0) 100%),
      radial-gradient(50px 50px at 88% 155px, hsla(194.5, 76.1%, 54.1%, 0.7) 0%, rgba(255, 255, 255, 0) 100%),
      radial-gradient(200px 200px at 70% 150px, hsla(223, 36%, 60%, 1) 0%, rgba(86, 97, 123, 0.4) 51.04%, rgba(0, 0, 0, 0) 100%),
      radial-gradient(31.62% 10% at 5% 3%,rgba(85, 231, 196, 0.75) 0%, rgba(255, 255, 255, 0) 100%),
      radial-gradient(95% 28% at 105% -3%, hsla(216, 62.1%, 30%, 1) 0%, rgba(23, 66, 130, 0) 100%),
      theme('colors.elegiac.DEFAULT');
  }

  .halos-light {
    background:
      radial-gradient(20% 7% at 0% 12%, hsla(266.3, 45.6%, 65%, 1) 0%, rgba(255, 255, 255, 0) 100%),
      radial-gradient(180px 160px at 310px 350px, hsla(194.5, 76.1%, 50%, 0.7) 0%, rgba(255, 255, 255, 0) 100%),
      radial-gradient(31.5% 10% at 350px 160px, hsla(223, 36%, 80%, 0.4) 0%, hsla(222.2, 60%, 75%, 0.1) 51.04%, rgba(0, 0, 0, 0) 100%),
      radial-gradient(31.62% 10% at 5% 3%,rgba(85, 231, 196, 0.75) 0%, rgba(255, 255, 255, 0) 100%),
      radial-gradient(95% 28% at 105% -3%, theme('colors.indigo.200') 0%, rgba(23, 66, 130, 0) 100%),
      theme('colors.indigo.100');
  }

  @screen lg {
    .halos-dark {
      background:
        radial-gradient(20% 7% at 0% 12%, #7644B6 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(180px 160px at 310px 350px, hsla(194.5, 76.1%, 54.1%, 0.7) 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(31.5% 10% at 350px 160px, hsla(223, 36%, 60%, 1) 0%, rgba(86, 97, 123, 0.4) 51.04%, rgba(0, 0, 0, 0) 100%),
        radial-gradient(31.62% 10% at 5% 3%,rgba(85, 231, 196, 0.75) 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(95% 28% at 105% -3%, hsla(216, 62.1%, 30%, 1) 0%, rgba(23, 66, 130, 0) 100%),
        theme('colors.elegiac.DEFAULT');
    }

    .halos-light {
      background:
        radial-gradient(20% 7% at 0% 12%, hsla(266.3, 45.6%, 65%, 1) 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(180px 160px at 310px 350px, hsla(194.5, 76.1%, 50%, 0.7) 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(31.5% 10% at 350px 160px, hsla(223, 36%, 80%, 0.4) 0%, hsla(222.2, 60%, 75%, 0.1) 51.04%, rgba(0, 0, 0, 0) 100%),
        radial-gradient(31.62% 10% at 5% 3%,rgba(85, 231, 196, 0.75) 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(95% 28% at 105% -3%, theme('colors.indigo.200') 0%, rgba(23, 66, 130, 0) 100%),
        theme('colors.indigo.100');
    }
  }

  .sun-shine {
    filter: drop-shadow(0 0px 6px rgb(191, 168, 48));
  }

  .sun-shine:hover {
    filter: drop-shadow(0 0px 11px rgb(191, 168, 48));
  }

  .moon-shine {
    filter: drop-shadow(0 0px 5px hsla(272.5, 59.6%, 19.4%, 0.7));
  }

  .moon-shine:hover {
    filter: drop-shadow(0 0px 11px hsla(272.5, 59.6%, 19.4%, 0.7));
  }

  .service-line {
    position: absolute;
    left: -8px;
  }

  @screen sm {
    .service-line {
      left: 30px;
      top: 5px;
    }
  }

  @screen lg {
    .service-line {
      left: 24px;
      top: 5px;
    }
  }

  .service-line img {
    height: 455px;
  }

  @screen sm {
    .service-line img {
      height: 560px;
    }
  }

  .text-neon {
    backface-visibility: hidden;
  }

  .text-neon:hover {
    text-shadow:
      0 0 20px theme('colors.indigo.300'),
      0 0 30px theme('colors.indigo.300'),
      0 0 40px theme('colors.indigo.300'),
      0 0 50px theme('colors.indigo.300');
  }

  .hero-image {
    @apply shadow-lg transition-all lg:hidden;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  }

  .hero-image-desktop img {
    @apply max-w-xs xl:max-w-sm ml-10 xl:ml-16 mt-24 rounded-full shadow-lg transition-all hidden lg:block transform transform-gpu hover:rotate-3;
  }
}

@layer utilities {
  .link-pretty {
    @apply relative z-0 inline-block overflow-hidden align-bottom;
    transition:  color .015s ease;
  }

  .link-pretty::before {
    @apply absolute top-0 w-full h-full;

    content: "";
    z-index: -1;
    transform: translateY(calc(100% - 2px));
    background-image: linear-gradient(60deg,theme('colors.blue.500'),theme('colors.blue.600'));
    transition: transform .15s ease;
  }

  .link-pretty:hover::before {
    transform: translateY(0);
    transition: transform .15s ease;
  }
}
