@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-sans: "Commissioner";
  --font-permanent-marker: "Permanent Marker";
  --font-metal-mania: "Metal Mania";
}

.plz-no-spamerino::before {
  content: attr(data-website) "@" attr(data-user);
  direction: rtl;
  unicode-bidi: bidi-override;
}
